$black: #000000;
$white: #ffffff;
$background: #FBFBFB;
$text-black: #29282E;

$recollection: #E8555F;
$recollection-gradient: linear-gradient(90deg, $text-black 0, $recollection 100%);

$meet: #6ACD4F;
$meet-gradient: linear-gradient(90deg, $text-black 0, $meet 100%);

$adaration: #F19737;
$adaration-gradient: linear-gradient(90deg, $text-black 0, $adaration 100%);

$seminar: #FEFB54;
$seminar-gradient: linear-gradient(90deg, $text-black 0, $seminar 100%);

$farmation: #7C5CE1;
$farmation-gradient: linear-gradient(90deg, $text-black 0, $farmation 100%);

$fest: #EFBEEB;
$fest-gradient: linear-gradient(90deg, $text-black 0, $fest 100%);

$regularMeet: #3F764C;
$regularMeet-gradient: linear-gradient(90deg, $text-black 0, $regularMeet 100%);

$piligrimka: #7697E6;
$piligrimka-gradient: linear-gradient(90deg, $text-black 0, $piligrimka 100%);
